<div class="dropdown">
    <button class="dropbutton">M</button>
    <div class="dropdown-content">
        @Html.ActionLink("Munkák", "Index", "Home", null)
        @Html.ActionLink("Dolgozók", "Index", "Dolgozok", null)
        @Html.ActionLink("Gépjárművek", "Index", "Gepjarmuvek", null)
        @Html.ActionLink("Admin felhasználók", "Index", "Adminusers", null)
    </div>
</div>
