<div class="dropdown">
    <button class="dropbutton">M</button>
    <div class="dropdown-content">
        <a href="Home/index">Munkák</a>
        <a href="Dolgozok/index">Dolgozók</a>
        <a href="Gepjarmuvek/index">Gépjárművek</a>
        <a href="Adminusers/index">Admin felhasználók</a>
    </div>
</div>
