/* Lenyíló menü stílusok */
.dropbutton {
    background-color: rgb(50,50,50);
    color: white;
    padding: 5px;
    font-size: 28px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    opacity: 0.25;
    filter: alpha(opacity=25);
    z-index: 1;
}

.dropbutton:hover, .dropbutton:focus {
    opacity: 1;
}
  
.dropdown {
    position: fixed;
    top: 5px;
    left: 5px;
    display: inline-block;
    z-index: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(50,50,50);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    font-size: 12px;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(200,200,200);
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Új létrehozása gomb stílusa az index oldalon */
.create-button {
    position: fixed;
    width: auto;
    padding: 0px 5px;
    top: 5px;
    right: 5px;
    background-color: rgb(50,50,50);
    color: white;
    opacity: 0.25;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    z-index: 1;
}

.create-button:hover {
    opacity: 1;
}

.create-item-button {
    margin: 5px;
    padding: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.create-item-button:hover {
    background-color: rgba(255,0,0,0.5);
}

.leftshift-button {
    position: fixed;
    width: auto;
    padding: 0px 5px;
    bottom: 5px;
    left: 5px;
    background-color: rgb(50,50,50);
    color: white;
    opacity: 0.25;
    font-size: 28px;
    font-weight: bold;
    z-index: 1;
}

.leftshift-button:hover {
    opacity: 1;
}

.rightshift-button {
    position: fixed;
    width: auto;
    padding: 0px 5px;
    bottom: 5px;
    right: 5px;
    background-color: rgb(50,50,50);
    color: white;
    opacity: 0.25;
    font-size: 28px;
    font-weight: bolder;
    z-index: 1;
}

.rightshift-button:hover {
    opacity: 1;
}

/* Ablak bezáró gomb stílusa */
.cancel-button:link, .cancel-button:visited {
    position: absolute;
    top: 5px;
    right: 15px;
    background-color: blue;
    color: white;
    padding: 0px;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.cancel-button:hover {
    color: black;
}

/* Input elemek stílusai */
label {
    font-weight: bold;
}

input[type=text], input[type=date], select {
    width: 100%;
    padding: 6px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
 }

input[type=submit].save-submit-button {
    width: 100%;
    background-color: rgb(0,150,0);
    color: white;
    padding: 6px 16px;
    margin: 8px 0;
    border: 5px solid rgb(0,150,0);
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
  
input[type=submit].save-submit-button:hover {
    background-color: white;
    color: black;
}

input[type=submit].delete-submit-button {
    width: 100%;
    background-color: red;
    color: white;
    padding: 6px 16px;
    margin: 8px 0;
    border: 5px solid red;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

input[type=submit].delete-submit-button:hover {
    background-color: white;
    color: black;
}