.calendar-container {
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.calendar-header {
    padding: 5px;
    margin: 0px;
    width: 14%;
    background-color: rgb(150,150,150);
    color: white;
    border: 2px solid black;
}

.calendar-cell {
    margin: 0px;
    width: 14%;
    height: 500px;
    background-color: rgb(150,150,150);
    border: 2px solid black;
    vertical-align: top;
}

.norm_Table {
    margin: 5px;
    padding: 0px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 2px ridge black;
}

.norm_Head {
    margin: 0px;
    padding: 3px;
    background-color: rgb(150, 150, 150);
    color: white;
    text-align: center;
    border: 1px solid black;
}

.norm_Cell {
    margin: 0px;
    padding: 3px;
    font-size: 12px;
    text-align: center;
    border: 1px solid black;
}